* {
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Epilogue';
    min-height: 100vh;
    perspective: 1px;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;
}

button {
    border-radius: 4px;
    cursor: pointer !important;

    font-size: 18px !important;
    font-weight: 700 !important;

    transition: all 0.3s ease;
}


button:hover {
    transform: translateY(-1px);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 25px -4px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
}

button:active {
    transform: scale(1.02) translateY(-1px);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 25px -4px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
}


a {
    cursor: pointer;
}


.page-section {
    width: 100%;
}

.primary-bg {
    background-color: var(--primary-color);
}

.primary-light-bg {
    background-color: var(--primary-light-color);
}

.primary {
    color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.secondary-light-bg {
    background-color: var(--secondary-light-color);
}

.secondary-light2-bg {
    background-color: var(--secondary-light2-color);
}

.secondary {
    color: var(--secondary-color);
}

.third-bg {
    background-color: var(--third-color);
}

.third {
    color: var(--third-color);
}

.fourth-bg {
    background-color: var(--primary-fourth);
}

.fourth {
    color: var(--primary-fourth);
}

.black-bg {
    background-color: var(--black-color);
}

.black {
    color: var(--black-color);
}

.white-bg {
    background-color: var(--white);
}

.white {
    color: var(--white);
}

.green-bg {
    background-color: var(--green-color);
}

.green {
    color: var(--green-color);
}

.red-bg {
    background-color: var(--red-color);
}

.red {
    color: var(--red-color);
}

.font-oswald {
    font-family: 'Oswald';
}

.font-crimsonpro {
    font-family: 'CrimsonPro';
}

.font-courier {
    font-family: 'Courier';
}



/*
.hero-view {
    width: 100%;
    height: 100vh;
}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1080px) {

}
*/