:root {
  --primary-color: rgba(246, 246, 246, 1);
  --primary-light-color: #E6F0FF;
  --secondary-color: rgba(23, 23, 23, 1);
  --secondary-light-color: #FFF0D4;
  --secondary-light2-color: #FFD17C;

  --white: #FFFFFF;
} 


@media (prefers-color-scheme: dark) {
:root {
  --primary-color: rgba(246, 246, 246, 1);
  --primary-light-color: #E6F0FF;
  --secondary-color: rgba(23, 23, 23, 1);
  --secondary-light-color: #FFF0D4;
  --secondary-light2-color: #FFD17C;

  --white: #FFFFFF;
}
}

@media (prefers-color-scheme: light) {
:root {
  --primary-color: rgba(246, 246, 246, 1);
  --primary-light-color: #E6F0FF;
  --secondary-color: rgba(23, 23, 23, 1);
  --secondary-light-color: #FFF0D4;
  --secondary-light2-color: #FFD17C;

  --white: #FFFFFF;
}
}




:root {
    /*1rem = 10px*/
    font-size: 62.5%; 
}
  
@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-regular.ttf");
  font-weight: 125 950;
  font-style: normal;
  font-stretch: 75% 125%;
  font-display: swap;
} 

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-italic.ttf");
  font-weight: 125 950;
  font-style: italic;
  font-stretch: 75% 125%;
  font-display: swap;
} 

@font-face {
  font-family: "Courier";
  src: url("../fonts/CourierPrime-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: "Courier";
  src: url("../fonts/CourierPrime-Italic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
} 

@font-face {
  font-family: "Courier";
  src: url("../fonts/CourierPrime-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: "Courier";
  src: url("../fonts/CourierPrime-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
} 

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf");
  font-weight: 125 950;
  font-style: normal;
  font-stretch: 75% 125%;
  font-display: swap;
} 
  
  